apiVersion: apps/v1 
kind: Deployment
metadata:
  name: deployment-ro
  labels:
    app: deployment-ro
spec:
  selector:
    matchLabels:
      app: nginx-deployment
  replicas: 3

  strategy:
   type: RollingUpdate
   rollingUpdate: 
    maxSurge: 2
    maxUnavailable: 2

  template:
    metadata: 
      name: nginx-deployment
      labels:
        app: nginx-deployment
    spec:
      containers:
      - name: nginx
        #image: nginx:latest
        image: httpd:latest
        ports:
        - containerPort: 80